.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(226, 226, 226);
    color: rgb(5, 2, 39);
    position: fixed;
    margin:0 auto;
  }

  .buttons {
    justify-content: right;
  }

