.App {
    text-align: center;
    background-color:green;
    }
    
    .label{
    display: block;
    font-size: larger;
    color: black;
    padding: 5px;
    }
    
    .input{
    font-size: larger;
    padding: 5px;
    margin: 2px;
    min-width:15em;
    max-width: 15em;
    max-height: 2em;
    
    }
    .btn{
    color: white;
    background-color: red;
    border-radius: 5px;
    font-size: larger;
    display: block;

    justify-content: left;
    }
    
    .messages{
    display: flex;
    justify-content: left;
    }
    
    .error{
    display: block;
    background-color: red;
    color: white;
    width: fit-content;
    height: 50px;
    padding: 5px;
    }
    
    .success{
    display: block;
    background-color: lightblue;
    color: black;
    width: fit-content;
    height: 50px;
    padding: 5px;
    }

    .left {
        justify-content: left;
    }
    
.padleft {
    margin-top:2em;
    margin-left:2em
}

.button1 {
    color: white;
    background-color: rgb(77, 138, 191);
    border-radius: 5px;
    font-size: larger;
    display: block;
    margin-bottom:5px;
    margin-top:0.5em
}

.button1:hover {
    background-color: rgb(56, 101, 141);
}