.Header {
    width: 100%;
    display: flex;
    margin-bottom: 2em;
    background-color: rgb(226, 226, 226);
    color: rgb(5, 2, 39);
    position: fixed;
    height:4em;
    position:relative;
  }

  h1 {
    margin-left:1em;
  }

  .buttons {
    justify-content: right;
  }

