.linkdiv {
    margin-left:5em;
    border-style:solid;
    border-color: rgb(77, 138, 191);
    padding-left:2em;
    margin-right:20em;
    padding-bottom:15vw;
    min-width:40vw;
    margin-top:5vw;
}

p {
    margin-right:5vw;

}

.setmaxwidth {
    max-width: 100%;
}

.button {
    color: white;
    background-color: rgb(77, 138, 191);
    border-radius: 5px;
    font-size: larger;
    display: block;
    margin-bottom:5px;
}

.button:hover {
    background-color: rgb(56, 101, 141);
}